body{
   
    font-family: poppins;
}

 .banner{
    width: 100%;
    height:450px; 
    background-size: 100%;
    
    
    background: linear-gradient(100deg, rgba(1, 1, 2, 0.46) 50%, rgba(1, 1, 2, 0.3) 50%),
     url('../img/man-1627744_1920\(1\).jpg') no-repeat center center fixed ;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
    background-size: cover; 
    
} 

.navbar-default{
    background-color:#0c0b0b80;
    border: none;

}

.navbar-default .navbar-brand {
    color: #f9eeeee6;
}

.navv{
    height: 70px;
    border: none;

}

.navbar-default .navbar-nav > li > a {

    color: #f5eded; 

}

.firstHead{
    font-size: 50px;
    font-family: poppins medium;
    text-align: center;
    font-weight: bold;
    margin-top:40px;
    
    
}

.para1{
    font-size:19px;
    color: grey;
  
}
.link{
    top:5px;
    font-size: 15px;
}

.homepage{
    width: 100px;
    height: 42px;
    background-color: #ffffff;
    line-height: 7.29;
    color:black;
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.4s ease-in;
    text-align: center;
}
.box{
    
    padding:10px;
    margin-top: 50px;
    text-align: center;
  
}

.line{
    width: 100px;
    height: 3px;
    background-color: #f07e0f;
    margin-bottom: 10px;
}
.box-des{
    border-radius: 35px;
    color:white;
    background-color: #f07e0f;
    font-size: 40px;
    font-weight: bold;
    width: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
   
   
}
.des-head{
    font-size: 32px;
    color:black;
    font-weight: bold;
    padding-top: 50px;
}

.feat{
    text-align: center;
    font-size:40px;
    margin-top: 10px;
    color:white;
    font-family: poppins medium;

}

/* .line{
    width:100px;
    border:2px solid white;
    margin-top:-10px;
    margin-bottom: 40px;

} */

.sec2{
    background-color:rgba(40, 8, 224, 0.425);
    height: 500px;
    color:white;
    margin-top: 50px;
    
}


/* portfolio */
.portfolio-section {
    background: #fff;
}

.stitle{
    text-align: center;
    margin-top:100px;
    font-family: poppins medium;
}
mainSec{
    margin-top:100px;
}
.portfolio-filter{
    list-style: none;
    text-align: center;
   
}

.portfolio-filter li.active{
    background: #fff;
    padding: 3px 12px;
    border-radius: 20px;
    border-color: #ddd;
    
}


.portfolio-filter li{
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    padding: 3px 0;
    cursor: pointer;
    border-color: transparent;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    
}


.portfolio-filter{
    margin-top:80px;
    margin-bottom:67px;
}

.portfArrange1{
    margin-bottom:30px;
    justify-items: center;
}

.portfArrange2{
    margin-bottom: 20px;
    justify-items: center;
}


/*	gallery */

.gallery-title{
    font-size: 50px;
    color:black;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top:20px;
}
.filter-button{
    font-size: 15px;
    border: 1px solid #7f7f98;
	padding:5px 10px;
    text-align: center;
    color: #3F6184;
    margin-bottom: 30px;
    background:transparent;
    border-radius:35px;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color :#0009;
	outline:none;
}
.gallery_product{
    
	position:relative;
	padding:0;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
    margin-bottom: 36px;
   
}

.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
    width: 350px;
}
.img-responsive{
    margin-bottom: 36px;
   
}
.fancybox{
    margin-bottom: 5px;
}
/*	end gallery */

.sec3{
height: 300px;
background: url("../img/people-2574454_1920\(1\).jpg") no-repeat center center;
margin-top:50px;
margin-bottom: 30px;

}

 footer{
    background-color: grey;
    color:white;
    
    
} 



.footer-content{
    margin-top:35px;
    text-align: right;
}
.foo{
    margin-top:45px;
}
/* carousel testing */

.mian{
    font-size: 40px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    line-height: 1.21;
    color: white;
    margin-top: 45px;
}

.mian2{
    font-size: 25px;
    font-family: poppins-semiBold;
    color: white;
}

.shop{
    width:115px;
    height: 40px;
    background-color: #f07e0f;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.shop:hover{
    background-color:white;
    color:black;
    transition: 0.4s all ease-out;

}

.testo{
    /* height: 400px; */
    /* border: 1px solid black; */
    background-color: #8080801a;
    text-align: center;
    margin-bottom: 20px;
}
.di{
    width: 200px;
    border-radius: 130px;
    height: 200px;
    margin-top: 30px;
}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}




.ditext{
    margin-top: 40px;
    font-size: 19px;
    line-height: 1.2;
}
/* @keyframes myanim{

    10%{background:red};
    20%{background:green};
    30%{background:blue};
}

.demo{
    width: 200px;
    height:200px;
    background:#eee;
    animation-name:myanim;
    animation-duration: 10s;
    animation-delay: 2s;
} */

.testi{
    text-align: center;
    font-size: 40px;
}

.footimg{
    width:20px;
    margin-left:25px;
    width: 50px;
height: 50px;
background-color:whitesmoke;
border: solid 1.5px #4a4a4a;
border-radius: 50%;
padding: 13px;

}

.addr{
    font-size: 18px;
}

video{
    
    width: 100%;
    height: auto;
    

}


